<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            //现在我们要做的就是点击button,获取到他的整个html或者整个对象
            //方法一:直接给button一个onclick事件
            function button1(e){

                console.log($(e).attr("value"))
            }

        //方法二：通过js动态的给按钮添加一个click事件
        $(function(){
            $("#button2").click(function(){
                //得到html
                console.log(this)
                //得到对象
                console.log($(this))
                //得到自定义的custom
                console.log($(this).attr("custom"))
            })
        })
    </script>


</head>
<body>
<p>首先定义两个按钮,添加一些常规属性type id、value</p>
<p>其次再定义给每个按钮一个自定义的属性custom</p>
与方法一配套的input
<input type="button" id="button1" value="按钮1" custom="这是自定义的属性1" onclick="button1(this)"/>
</br>
</br>
与方法二配套的input
<input type="button"  id="button2" value="按钮2" custom="这是自定义的属性2"/>

</body>
</html>